
body {
	background-color: #171616;
}

/* classes */

.mt-1 { margin-top: 1rem !important; }

.text-left { text-align: left !important; }

.color-grey { color: #565c67; }

/* the-end-of-classes */



/* buttons */

.red-btn-color {
	background-color: #d0225b;
	color: white;
}

@media (hover: hover) {

	.red-btn-color:hover {
		background-color: #a81647;
	}

}

.red-btn-color:active {
	background-color: #a81647;
}

.red-btn,
.grey-btn {
	background-color: #d0225b;
	color: white;
	transition: background-color .3s;
	text-align: center;
	border-radius: 5px;
	padding: 0.5rem;
	font-size: 12px;
}

@media (hover: hover) {

	.red-btn:hover {
		background-color: #a81647;
	}

}

.red-btn:active {
	background-color: #a81647;
}

.grey-btn {
	color: #cecab4;
	background-color: #343a40;
}

@media (hover: hover) {
	
	.grey-btn:hover {
		background-color: #495057;
	}

}

.grey-btn:active {
	background-color: #495057;
}

/* the-end-of-buttons */



/* posts */

.posts {
	width: 90%;
	margin: 4rem auto 0;
}

.post-head-title {
	color: #565c67;
}

.post-head-text {
	color: #565c67;
}

.post-head-con-title {
	display: inline-block;
	margin-right: 2rem;
	margin-bottom: 0;
	position: relative;
	color: white;
	opacity: .7;
	font-weight: lighter;
	padding-bottom: 0.5rem;
}

.post-head-con-title::before {
	content: " ";
	position: absolute;
	left: 0;
	top: 100%;
	height: 1px;
	width: 80%;
	background-color: white;
	opacity: .4;
}

.post-head-con-link {
	margin-left: 0.2rem;
}

.post-head-con-link-icon {
	margin-right: 3px;
}

.posts-list {
	padding: 0;
	margin: 0;
	display: -ms-flexbox;
	display: flex;
	flex-flow: row wrap;
	-ms-flex-wrap: wrap;
	-ms-flex-direction: row;
	justify-content: space-between;
	-ms-flex-pack: justify;	
	align-content: flex-start;
	-ms-flex-line-pack: start;
	align-items: flex-start;
  	-ms-flex-align: start;
}

.posts-item {
	position: relative;
	width: 12%;
	margin-top: 2rem;
}

.posts-img-link {
	width: 100%;
	height: 16vw;
	overflow: hidden;
	position: relative;
	border-radius: 0.5rem;
}

.posts-img-link::before {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #282929;
	opacity: 0;
	transition: opacity .3s;
}

.posts-img-link::after {
	content: "\f04b";
	font-family: fontAwesome;
	font-size: 20px;
	text-align: center;
	width: 60px;
	height: 60px;
	background-color: #d0225b;
	color: white;
	border-radius: 50%;
	position: absolute;
	top: calc(50% - 30px);
	left: calc(50% - 30px);
	opacity: 0;
	transition: opacity .3s;
	display: -ms-flexbox;
	display: flex;
	flex-flow: row wrap;
	-ms-flex-wrap: wrap;
	-ms-flex-direction: row;
	justify-content: center;
	-ms-flex-pack: center;	
	align-content: center;
	-ms-flex-line-pack: center;
	align-items: center;
  	-ms-flex-align: center;	
}

@media (hover: hover) {

	.posts-item:hover .posts-img-link::before {
		opacity: .5;
	}

	.posts-item:hover .posts-img-link::after {
		opacity: 1;
	}

}

.posts-item:active .posts-img-link::before {
	opacity: .5;
}

.posts-item:active .posts-img-link::after {
	opacity: 1;
}

.posts-quality {
	color: black;
	padding: 0.2rem 0.4rem;
	border-radius: 5px;
	background-color: white;
	position: absolute;
	top: 0.8rem;
	right: 0.8rem;
	font-size: 12px;
}

.posts-img {
	width: 100%;
	height: auto;
	min-height: 100%;
}

.posts-link {
	width: 100%;
	color: white;
	font-weight: normal;
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.post-date {
	margin: 0;
}

.posts-bottom-con > * {
	color: #565c67;
	font-size: 12px;
}

.posts-type {
	border: 1px solid #282929;
	border-radius: 2px;
	padding: 2px 4px;
	margin: 0;
}

.post-info {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0.3s, opacity .3s;
	position: absolute;
	right: -153%;
	top: 15%;
	width: 150%;
	background-color: #22262a;
	border-radius: 0.5rem;
	padding: 1rem;
	box-sizing: border-box;
	z-index: 3;
}

.post-info.to-left {
	right: auto;
	left: -153%;
}

@media (hover: hover) {

	.posts-item:hover .post-info {
		opacity: 1;
		visibility: visible;
	}

}

.posts-item:active .post-info {
	opacity: 1;
	visibility: visible;
}	

.posts-info-name {
	color: white;
	margin: 0;
}

.posts-info-head * {
	font-size: 12px;
}

.posts-info-imdb {
	color: white;
}

.posts-info-star {
	color: #d0225b;
	margin-right: 5px;
}

.posts-info-quality {
	color: black;
	padding: 0.1rem 0.7rem;
	border-radius: 15px;
	background-color: #d0225b;
}

.posts-info-country span,
.posts-info-genre span {
	color: white;
	opacity: .7;
}

.posts-info-genre {
	margin: 3px 0 0;
}

.posts-info-watch-now {
	padding: 5px 2rem;
	border-radius: 1rem;
	background-color: #333940;
	color: white;
	transition: background-color .3s;
	text-align: center;
	font-size: 14px;
}

.posts-info-watch-now i {
	margin-right: 5px;
	color: #d0225b;
}

@media (hover: hover) {

	.posts-info-watch-now:hover {
		background-color: #2b323b;
	}

}

.posts-info-watch-now:active {
	background-color: #2b323b;
}

.posts-info-like {
	border-radius: 5px;
	background-color: #d0225b;
	color: white;
	padding: 10px;
	transition: background-color .3s;
	cursor: pointer;
}

@media (hover: hover) {

	.posts-info-like:hover {
		background-color: #a81647;
	}

}

.posts-info-like:active {
	background-color: #a81647;
}

.posts-view-all {
	color: #d0225b;
	transition: color .3s;
}

@media (hover: hover) {

	.posts-view-all:hover {
		color: #a81647;
	}	

}

.posts-view-all:active {
	color: #a81647;
}

@media only screen and (max-width: 1024px) {

	.posts-item {
		width: 48%;
	}

	.posts-img-link {
		height: 60vw;

	}

	.post-info {
		display: none;
	}

	.post-head-con-title {
		display: block;
		margin-bottom: 1rem;
	}

	.post-head-text {
		max-height: 100px;
		transition: max-height .5s;
		overflow: hidden;
		position: relative;
	}

	.post-head-text.full-text {
		max-height: 500px;
	}

	.post-head-text-btn {
		position: absolute;
		right: 0;
		bottom: 0;
		padding: 8px 10px;
	}

}	

@media only screen and (max-width: 599px) {
	

}

/* the-end-of-posts */