

.fl-footer-list {
	width: 50%;
	margin: 0 !important;
	font-size: 0;
}

.fl-footer-list li {
	font-size: 16px;
}

.fl-footer-link {
	font-size: 14px !important;
}

.footer-blue-link {
	color: #565c67;
	font-weight: bold;
}

@media (hover: hover) {

	.footer-blue-link:hover {
		color: #d0225b;
	}

}	

.footer-blue-link:active {
	color: #d0225b;
}

.footer-blue-text {
	color: #565c67;
}

@media only screen and (max-width: 1024px) {

	.fl-footer {
		padding: 0;
	}

	.fl-footer-list {
		width: 100%;
	}

	.flex-order-2-in-small-screen {
		order: 2;
	}

	#footerLinksList {
		margin-top: 1.5rem !important;
	}

}