
/* loading-animation */

@keyframes loadingCircle {

	from {
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
    	transform: scale(0);
    	opacity: 1;
    	width: 60px;
		height: 60px;
		border: 2px solid #d0225b;
	}

	to {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
    	transform: scale(1);
    	opacity: 0;
    	width: 60px;
		height: 60px;
		border: 2px solid #d0225b;
	}

}

.fl-loading-ani {
	background-color: #282929;
}

.loading-ani-circles-par {
	position: relative;
	margin: 3rem auto 0;
	height: 62px;
	width: 62px;
}

.loading-ani-circle {
	position: absolute;
	top: 0;
	left: 0;
	background-color: transparent;
	border-radius: 50%;
	animation-name: loadingCircle;
  	animation-duration: 1s;
  	animation-timing-function: linear;
  	animation-iteration-count: infinite;
  	animation-delay: 0s;
}	

.loading-ani-circle:last-child {
	animation-delay: 0.5s;
}

/* the-end-of-loading-animation */


/* navbar */

.fl-navbar { 
	position: static;
}


@media only screen and (max-width: 1024px) {

	.fl-navbar {	
		justify-content: flex-start;
		-ms-flex-pack: start;
		align-content: center;
		-ms-flex-line-pack: center;
		align-items: center;
	  	-ms-flex-align: center;
	  	padding: 0 1rem 1rem;
	}

	.fl-navbar-brand {
		width: 40%;
	}

	.fl-navbar .fl-navbar-brand,
	.fl-navbar .fl-navbar-toggler,
	.fl-navbar .fl-navbar-nav,
	.fl-navbar .fl-navbar-links,
	.fl-navbar-search-parent {
		margin-top: 1rem !important;
	}

	.fl-navbar .fl-navbar-toggler {
		margin-left: auto !important;
		margin-right: 1rem;
	}

	.fl-navbar-links-link-icon {
		margin-right: 0;	
	}


}	

/* the-end-of-navbar */	



/* navbar-search */

.fl-navbar-search-parent {
	margin: 30px auto 0 !important;
	top: 3.2rem;
}

.fl-navbar-search-submit,
.fl-navbar-search-reset {
	font-size: 22px;
	color: #676d73 !important;
}

.navbar-search-submit {
	width: 80px;
	height: 75px;
	margin-left: 15px;
	border-radius: 50%;
	color: black;
	font-size: 25px;
	padding: 0;
	background-color: #d0225b;
	transition: background-color .3s;
	cursor: pointer;
}

@media (hover: hover) {

	.navbar-search-submit:hover {
		background-color: #a81647;
	}

}

.navbar-search-submit:active {
	background-color: #a81647;
}

@media only screen and (max-width: 1024px) {

	.fl-navbar-search-parent {
		margin: 1.5rem auto 0 !important;
		top: 0;
	}

	.fl-navbar-search-input {
		padding: 1rem 1rem 1rem 2.5rem;
		border-radius: 5px;
		width: 100%;
		box-sizing: border-box;
		color: #c9d0d8;
		font-size: 13px;
		background-color: #626464;
		transition: background-color .3s, color .3s;
	}

	.fl-navbar-search-input:focus {
		background-color: #c9d0d8;
		color: #626464;
	}

	.fl-navbar-search-input::-webkit-input-placeholder {
	  color: #c9d0d8;
	}

	.fl-navbar-search-input::-moz-placeholder {
	  color: #c9d0d8;
	}

	.fl-navbar-search-input::-ms-input-placeholder {
	  color: #c9d0d8;
	}

	.fl-navbar-search-input::placeholder {
		color: #c9d0d8;
	}

	.fl-navbar-search-submit {
		font-size: 13px;
		color: #c9d0d8 !important;
		transition: color .3s;
	}

	.fl-navbar-search-input:focus ~ .fl-navbar-search-buttons-con .fl-navbar-search-submit {
		color: #626464 !important;
	}

	.fl-navbar-search-buttons-con {
		left: 0.5rem;
	}

}

/* the-end-of-navbar-search */



/* user-modal-form */

#userModalContainer {
	background-color: rgba(80,81,81,0.8);
	align-content: center;
	-ms-flex-line-pack: center;
	align-items: center;
  	-ms-flex-align: center;
}

#userModalContainer .fl-modal-child {
	width: 28%;
	top: -100px;
	transition: top 0.3s ease 0s, opacity 0.3s ease 0s, visibility .3s ease 0s;
	opacity: 0;
	position: absolute;
	visibility: hidden;
	margin-top: 0;
	margin-bottom: 0;
}

#userModalContainer.fl-show .fl-modal-child.fl-show  {
	transition: top 0.3s ease 0.3s, opacity 0.3s ease 0.3s, visibility .3s ease 0.3s;
	top: 0;
	opacity: 1;
	position: relative;
	visibility: visible;
}

#userModalContainer .fl-form {
	border-radius: 0.7rem;
	background-color: #212529;
	width: calc(100% - 4rem);
	padding: 1rem 2rem;
	position: relative;
}

#userModalContainer .fl-form-label {
	color: #676d73;
}

#userModalContainer .fl-form-input {
	background-color: #c9d0d8;
	border: 0;
	border-radius: 5px;
	transition: box-shadow .3s ease;
}

#userModalContainer .fl-form-input:focus {
	box-shadow: 0.5px 0.5px 5px #676d73, -0.5px -0.5px 5px #676d73;
}

#userModalContainer .fl-form-input-icon {
	color: #676d73;
}

#userModalContainer .fl-form-link {
	color: #d0225b;
}

.user-form-forgot-password-link {
	font-size: 12px;
	float: right;
	margin-top: 5px;
}

@media (hover: hover) {

	.user-modal-form-link:hover {
		color: darkblue;
	}

}

.user-modal-form-link:active {
	color: darkblue;
}

#userModalContainer .fl-form-text {
	text-align: center;
	color: #676d73;
	opacity: 0.6;
}

#userModalContainer .fl-form-title  {
	text-align: left;
	color: #c9d0d8;
	margin: 0;
	font-size: 25px !important;
	font-weight: bolder;
}

#userModalContainer .fl-modal-con-closer-in-modal-child {
	position: absolute;
	top: 0.7rem;
	right: 0.7rem;
	color: #676d73;
	background: none;
	border: 0;
	font-size: 16px;
	cursor: pointer;
	transition: color .3s;
}


@media (hover: hover) {

	#userModalContainer .fl-modal-con-closer-in-modal-child:hover {
		color: #c9d0d8;
	}

}

#userModalContainer .fl-modal-con-closer-in-modal-child:active {
	color: #c9d0d8;
}

#userModalContainer .fl-checkmark {
  background-color: white !important;
  border: 2px solid #676d73;
}

#userModalContainer .fl-checkbox-label:hover input ~ .fl-checkmark {
  background-color: red;
}

#userModalContainer .fl-checkbox-label input:checked ~ .fl-checkmark {
  background-color: red;
}

#userModalContainer .fl-checkbox-label input:checked ~ .fl-checkmark::after {
  border-color: #676d73;
}

@media (hover: hover) {

	#userModalContainer .fl-checkbox-label:hover input ~ .fl-checkmark {
	  border-color: #3897e7;
	}

	#userModalContainer .fl-checkbox-label:hover input ~ .fl-checkmark::after {
		border-color: #3897e7;
	}

}	

#userModalContainer .fl-checkbox-label:active input ~ .fl-checkmark {
  background-color: black !important;
  border-color: black;
}

#userModalContainer .fl-checkbox-label:active input ~ .fl-checkmark::after {
	border-color: black;
}

@media only screen and (max-width: 1024px) {

	#userModalContainer {
		align-content: flex-start;
		-ms-flex-line-pack: start;
		align-items: flex-start;
	  	-ms-flex-align: start;
	}

	#userModalContainer .fl-modal-child {
		width: 90%;
		margin-top: 70px !important;
		margin-bottom: 70px;
	}

}

/* the-edno-of-user-modal-form */